# Node
node_modules/
dist/
.vscode/
backend/node_modules/
customer-app/node_modules/
admin-app/node_modules/
customer-app/.next
admin-app/.next



# Environment
# Ignore env files
.env
*.env
backend/.env
backend/prisma/.env
backend/prisma/.en
customer-app/.env.local
admin-app/.env.local



# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db

Document/

